.App {
  text-align: center;
  background-color: lightblue;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.adminCheck {
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: -3px 0px 0px 20px;
  font-size: 0.75em;
}

.homeHeader{
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer{
  height: 25px;
}

.unitBox{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100px;
  width: 800px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  /* padding-left: 10px;
  padding-top: 10px; */
  border-style: solid;
  border-color: black;
}

.itemBox{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  height: fit-content;
  width: 800px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  padding-left: 10px;
  border-style: solid;
  border-color: black;
}

.unitName{
  display:flex;
  /* margin-left: 10px; */
  margin-top: 10px;
}

.unitDefinition{
  display:flex;
  align-items: left;
}

.header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: lightcyan;
  padding: 15px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 25px ;
  color: blue;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

