@media (max-width: 650px){


    /* Home Page */
    .homeWelcome{
        color:white
    }

    .homeBorder{
      width: 0vw;
    }
    .homePage{
      width:100vw
    }

    /* .rickyPage{
      margin-top: -10vh;
    } */

    /* .ricky{
      height:80vh;
    } */

    /* HEADER PAGE */
    .headerHeader{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-size: 25px ;
        color: blue;
        text-decoration: blue;
      }
      
      .headerIcon{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-size: 25px ;
        cursor:pointer;
      }
      
      .showMenu{
        padding-right: 15px;
        display: none;
      }
      
      .headerMenuItem{
        display:none;
        padding-left: 20px;
        text-decoration:blue;
      }
      
      .headerMenuIcon{
        padding-left: 20px;
        text-decoration:blue;
      }

      .headerMenuIcon:hover{
        color:black;
      }
      
      .mobileHeader{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding-right: 25px;
      }
      
      .headerIcon{
        width:300px;
        height: auto;
      }

      .mobileMenu{
        padding-right: 15px;
        padding-bottom: 5px;
        gap:20px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-size: 25px ;
        color: black;
        text-decoration: black;
      }

      .headerMenuIcon{
        display:flex
      }
      .mobileMenuItem{
        text-decoration:black;
        cursor:pointer;
      }

      .mobileMenuItem:hover{
          color:blue
      }


    /* GLOSSARY PAGE*/
    
    .glossaryPage{
      width: 100vw;
    }

    .unitBox{
          width:80vw;
      }

    /* UNIT PAGE */

    .unitPage{
      width:100vw;
    }

    .itemBox{
        width:80vw;
    }

  /* TOPIC PAGE */

  .topicSection{
    max-height:200px;
    margin-left: 0px;
    gap:3vw;
    justify-content: flex-start;
    /* margin-left: -50px; */
  }

  .topicList{
    display:flex;
    align-content: left ;
    gap: 3vw;
  }

  /* LOGIN PAGE */
  .loginPage{
    width:100vw;
  }


  /* PROFILE PAGE */
  .profilePage{
    width:100vw
  }

  .termTop{
    margin-top: -1vh;
  }
  
  .myTerms{
    width:60vw;
  }





}